---
import BasicLayout from '../../layouts/basic.astro';
import type { Image } from '../../type';
import ImageComponent from '../../components/SveltesComponents/ImageComponent.svelte'
import DataModifier from '../../components/SveltesComponents/DataModifier.svelte'
import ImagesContainer from '../../components/SveltesComponents/ImagesContainer.svelte'
export const prerender = false

const { id } = Astro.params;

const API_URL = import.meta.env.API_URL;
const finalUrl = `${API_URL}/api/vehicules/single/${id}`;

const response = await fetch(finalUrl);

if (!response.ok) {
    return Astro.redirect('/'); 
}

const current = await response.json();
---

<BasicLayout>
    <div class="max-w-4xl mx-auto p-8">
        
        <a href="/" class="btn btn-ghost mb-8">← Retour à la liste</a>

        <div class="flex flex-col">
            <div>
                <DataModifier data={current.model}, type={1}, type_name='Modele'/>
                <DataModifier data={current.description}, type={2}/>
                <DataModifier data={current.year.toString()}, type={3}, type_name='Année'/>
                <div class="grid grid-cols-2 gap-4 mt-8">
                    <ImagesContainer item={current} images={current.images} />
                </div>
            </div>
        </div>

    </div>
</BasicLayout>